*.csproj
*.vsconfig
*.sln
*.apk
*.notgz
*notgz.meta

Logs/
obj/
Library/
UserSettings/
.vs/
Temp/
Builds/
Recordings/
Mimiland-WebNative
.idea
MemoryCaptures
Mimiland-Unity/Packages/packages-lock.json
ProjectSettings/GvhProjectSettings.xml
Assets/AddressableAssetsData
Assets/Firebase/Plugins/x86_64/
Assets/Plugins/iOS/Firebase/
Assets/GUI PRO Kit - Fantasy RPG/PSD/
